.aviso{
    background-color: #f89807;
    opacity: 1;
    background: repeating-linear-gradient( 45deg, #f8ae54, #f8ae54 50px, #ffbb67 50px, #ffbb67 100px );
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avisoTexto{
    color: black;
    font-weight: 500;
}
.avisoTexto span{
    margin-top: 12px;
}

.c-container {padding: 20px 40px;}

.title {font-size: 20px; color:#080707; text-align:center; padding: 20px 0; box-shadow: 0px 1px 0px #DDDBDA;}
.subtitle {font-size: 20px; color:#080707; text-align:center; padding: 20px 0; box-shadow: 0px 1px 0px #DDDBDA;}
.c-container > .containerInfos { box-shadow: 0px 1px 0px #DDDBDA; padding:20px 0;}
h1 {font-size: 24px; color:#000; font-weight: bold; margin-bottom: 30px;}
.cmpName {font-size: 14px;}
.logo > img {max-width: 100%;height: 45px;}
.cmpValue {font-size: 16px; font-weight: bold;}
.boxCardPrincipal {box-shadow: 0px 1px 0px #DDDBDA; padding-bottom: 20px;}
.boxCardPrincipal .firstUl li:first-child {display: flex;}
.boxCardPrincipal ul li .logo {margin-right: 5px;}
.boxCardPrincipal ul {margin: 20px 0; display: flex; justify-content: space-between;}
.boxPrincipalCardThree ul {justify-content: flex-start; display: flex; margin:20px 0;flex-wrap: wrap;}
.boxPrincipalCardThree ul li {width: 33%;}


.boxMargin {margin-top: 20px;}
.boxSteps {margin-top: 30px;}
.txtInfos {margin: 20px 0; font-size: 16px;}
.boxInputs ul {display:flex; justify-content: space-between; max-width: 80%;flex-wrap: wrap;}
.boxInputs ul li {width: 33%; margin-bottom: 10px;}
.boxInputs ul .liMaior {width: 65%;}
footer {box-shadow:  0px -1px 0px #DDDBDA; margin-top: 30px;}
.boxFooter  {padding:20px;}
.boxFooter ul {display: flex; justify-content: space-between; align-items: center;}
.boxFooter ul li {width: 76%;}
.boxFooter ul li:first-child {width: 12%; text-align: center;}
.boxFooter ul li:last-child {width: 12%; text-align: center;}
.boxFooter ul li.liBtnCaso {width: 15%;}
.boxFooter ul li.liBtnConfirmar {width:30%;}
.customProgress {--lwc-progressBarColorBackgroundFill: green !important;}
.customProgress .slds-progress {max-width: 85% !important;}
.txtInfosBoxTwo {margin-bottom: 10px;}
.listTwo {margin-bottom: 20px; padding-left: 17px;}
.listTwo li {list-style-type: circle;}